
.clock{
    font-size: 25px ;
    color: #009578;
    font-weight: 500;
}

.date{
    font-size: 16px ;
    color: black;
    font-weight: 500;

}

.clock-container{
    /* text-align: center; */
    height: 70px;
    /* background-color: rgba(60, 171, 171, 0.2); */
    padding: 2px;
    /* border: 2px solid rgb(204, 223, 223); */
    border-radius: 10px ;
    /* box-shadow: 0px 0px 100px 0px rgba(195, 203, 203, 0.507); */
}   